<?php $this->headTitle('Home'); ?>

<div class="jumbotron">
    <h1>Welcome to <span class="zf-green">zend-expressive</span> demo</h1>
    <p>
        Congratulations! You have successfully installed the
        <a href="https://github.com/zendframework/zend-expressive-skeleton" target="_blank">zend-expressive skeleton application</a>.
        This skeleton can serve as a simple starting point for you to begin building your application.
    </p>
    <p>
        Expressive builds on zend-stratigility to provide a minimalist PSR-7 middleware framework for PHP.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Project Info</h2>
        <p>This demo project uses:</p>
        <ul>
            <li>
                <a href="<?= $this->containerDocs ?>" target="_blank"><?= $this->containerName ?></a>
                as service manager,
            </li>
            <li>
                <a href="<?= $this->routerDocs ?>" target="_blank"><?= $this->routerName ?></a>
                as router,
            </li>
            <li>
                <a href="<?= $this->templateDocs ?>" target="_blank"><?= $this->templateName ?></a>
                as templating engine.
            </li>
        </ul>
    </div>

</div>
